In [1]:
print("hdhdhd")

hdhdhd

In [3]:
import pandas as pd

In [4]:
XYZ_web= {'Day':[1,2,3,4,5,6], "Visitors":[1000, 700,6000,1000,400,350], "Bounce_Rate":[20,20, 23,15,10,34]}

In [6]:
df=pd.DataFrame(XYZ_web)

In [7]:
df

   Day  Visitors  Bounce_Rate
0    1      1000           20
1    2       700           20
2    3      6000           23
3    4      1000           15
4    5       400           10
5    6       350           34

In [8]:
df.head(2)

   Day  Visitors  Bounce_Rate
0    1      1000           20
1    2       700           20

In [9]:
df.tail(2).head(1)

   Day  Visitors  Bounce_Rate
4    5       400           10

In [10]:
df1= pd.DataFrame({ "HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2=pd.DataFrame({ "HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2005, 2006,2007,2008])

In [11]:
merged=pd.merge(df1,df2)

In [13]:
print(merged)

   HPI  Int_Rate  IND_GDP
0   80         2       50
1   90         1       45
2   70         2       45
3   60         3       67

In [14]:
merged=pd.merge(df1,df2, on="HPI")

In [15]:
print(merged)

   HPI  Int_Rate_x  IND_GDP_x  Int_Rate_y  IND_GDP_y
0   80           2         50           2         50
1   90           1         45           1         45
2   70           2         45           2         45
3   60           3         67           3         67

In [16]:
df1 = pd.DataFrame({"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"Low_Tier_HPI":[50,45,67,34],"Unemployment":[1,3,5,6]}, index=[2001, 2003,2004,2004])

In [17]:
joined=df1.join(df2)

In [18]:
print(joined)

      Int_Rate  IND_GDP  Low_Tier_HPI  Unemployment
2001         2       50          50.0           1.0
2002         1       45           NaN           NaN
2003         2       45          45.0           3.0
2004         3       67          67.0           5.0
2004         3       67          34.0           6.0

In [20]:
concat=pd.concat([df1,df2])

C:\Users\amit\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [21]:
concat

      IND_GDP  Int_Rate  Low_Tier_HPI  Unemployment
2001     50.0       2.0           NaN           NaN
2002     45.0       1.0           NaN           NaN
2003     45.0       2.0           NaN           NaN
2004     67.0       3.0           NaN           NaN
2001      NaN       NaN          50.0           1.0
2003      NaN       NaN          45.0           3.0
2004      NaN       NaN          67.0           5.0
2004      NaN       NaN          34.0           6.0

In [22]:
df.set_index("Day", inplace= True)

In [23]:
print(df)

     Visitors  Bounce_Rate
Day
1        1000           20
2         700           20
3        6000           23
4        1000           15
5         400           10
6         350           34

In [25]:
country= pd.read_csv("C:/Users/amit/Downloads/cars.csv",index_col=0)

In [28]:
country.to_html('C:/Users/amit/Downloads/hdhd.pdf')